* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: #000;
  animation: bodyBack 10s linear infinite alternate;
}
.container {
  width: 200px;
  height: 200px;
  @media (max-width:767px) {
    width: 50px;
    height: 50px;
  }
  position: relative;
  //background-color: #f00;
  transform-style: preserve-3d;
  animation: animate 4s linear infinite;
  .top {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #151515;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform: rotatex(90deg) translateZ(100px);
    @media (max-width:767px) {
        transform: rotatex(90deg) translateZ(25px);
      }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #00ec00;
      width: 100%;
      height: 100%;
      filter: blur(20px);
      box-shadow: 0 0 20px 10px #00ec00;
      transform: translateZ(-300px);
      @media (max-width:767px) {
        transform: translateZ(-100px);
      }
    }
  }
  .parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    span {
      background: linear-gradient(#151515, #00ec00);
      width: 100%;
      height: 100%;
      position: absolute;
      transform: rotatey(calc(90deg * var(--i))) translateZ(99px);
      @media (max-width:767px) {
        transform: rotatey(calc(90deg * var(--i))) translateZ(25px);
    }
    }
  }
}
.container2 {
  .top {
    &::after {
      background-color: #6e047c;
      box-shadow: 0 0 20px 10px #6e047c;
    }
  }
  .parent {
    span {
      background: linear-gradient(#151515, #6e047c);
    }
  }
}

.container3{
    .top {
      &::after {
        background-color: #68a704;
        box-shadow: 0 0 20px 10px #68a704;
      }
    }
    .parent {
      span {
        background: linear-gradient(#151515,#68a704);
      }
    }
  }
h1{
    color: white;
    position:absolute;
    top: 90%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%,-50%);
    animation: h1color 10s linear infinite alternate;
    text-align: center;
    @media (max-width:767px) {
      font-size: 17px;
    }
}
@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotatey(0);
  }
  100% {
    transform: rotateX(-30deg) rotatey(360deg);
  }
}
@keyframes bodyBack {
    25%{
        background-color: #00ec00;
        color: #68a704;
    }60%{
        background-color: #6e047c;
        color: #00ec00;
    }100%{
        background-color: #68a704;
        color: #6e047c;
    }
}@keyframes h1color {
    25%{
        color: #68a704;
    }60%{
        color: #00ec00;
    }100%{
        color: #6e047c;
    }
}